extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="opis")
      | Opis
    br
    input(type="text" id="opis" name="opis")
    br
    input(type="submit", value="Dodaj")
  table
    tr
      th(scope= "col") Tytuł
      th(scope= "col") Opis
    each task in tasks
      tr
        td= task.title
        if task.opis.lenght === 0
		td='brak opisu'
	else
	td= task.opis

